@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #1e40af;
  --color-accent: #f59e0b;
}

body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
